
<section class="services-section-two" style="margin-top:-70px">
    <div class="auto-container">

        <div style="border:3px solid #90144C; padding:40px 10px 10px 10px; margin-bottom:40px">
            <div class="sec-title-three">
                <div class="title">Nar Granit</div>
                <h2 style="color:#90144C">Bize Hemen Ulaşın</h2>
            </div>
            <div class="support-box" style="padding-top: 0px;">
                <div class="text">Ürünlerimiz hakkında detaylı bilgi için lütfen iletişime geçiniz. </div>
                <div class="buttons-box">
                    @*<a href="contact.html" class="theme-btn btn-style-three"><span class="icon fa fa-comments-o"></span>&nbsp; LIVE CHAT</a>*@

                    <a style="font-size:20px" href="tel:02128761888" class="theme-btn btn-style-four" target="_blank">
                        <span class="icon flaticon-technology"></span>&nbsp; +90 (212) 876 18 88 - 89 (pbx)
                    </a>
                    <a style="font-size:20px; text-transform:lowercase" href="mailto:nar@nargranit.com.tr" class="theme-btn btn-style-four" target="_blank">
                        <span class="icon flaticon-envelope"></span>&nbsp; nar@nargranit.com.tr
                    </a>
                    <a style="font-size:20px" href="https://www.google.com/maps?ll=40.990109,28.662489&z=14&t=m&hl=tr-TR&gl=TR&mapclient=embed&daddr=Nar+Granit+End%C3%BCstri+ve+Ticaret+A.%C5%9E.+Yakuplu+Mermerciler+San.+Sit.+3.+Cad.+No:17+34524+Beylikd%C3%BCz%C3%BC/%C4%B0stanbul@40.990109,28.662489" class="theme-btn btn-style-four" target="_blank">
                        <span class="icon flaticon-location-pin"></span>&nbsp; HARİTA KONUMU GÖSTER
                    </a>
                </div>
            </div>
        </div>

    </div>
</section>